
.aside {
    /* 사이드바 스타일링 */
    border-right: 1px solid #353535;
    background-color: #1f1f1f;
    padding: 20px;
    margin-bottom: -70px;
  }
  
  .users-list {
    height: 45vh;
  }

  .aside ul {
    list-style-type: none;
    padding: 0;
  }
  
  .aside li {
    margin-bottom: 20px;
  }
  
  .aside a {
    text-decoration: none;
    color: #dddddd;
    font-size: 18px;
  }
  
  .aside a:hover {
    color: white;
  }

  .recomm-chanel {
    color: #ffffff;
    font-size: 11px;
    margin-top: -18px;
    margin-left: -5px;
  }

  .prof-img {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-bottom: -12px;
  }

  .prof-name {
    margin: 12px;
  }
  