/* Login.css */
.login-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 8px;
    margin-top: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }

  .user_toggle{
    display: flex;
    padding: 10px;
  }

  .input-group {
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 10px;
  }
  
  .input-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-group button{
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .users-button {
    padding-right: 10px;
    width: 100%;
    background-color: #6441a5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }


  .login-button {
    width: 97%;
    padding-right: 10px;
    background-color: #6441a5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
  }
  
  .login-button-active {
    width: 100%;
    background: none;
    color: black;
    padding: 10px;
    transition: color 0.2s;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }

  .login-button:hover {
    background-color: #533d8b;
  }
  /* Responsive adjustments can be added as necessary */
  